/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/ie8.css);

/* Base
----------------------------------------------------------------------------------------------------*/


/* Layout
----------------------------------------------------------------------------------------------------*/

.fixed-header #block-headerbar,
.fixed-header #block-header {
	position: fixed;
	top: 0;
	width: 100%;
}

.fixed-header #block-header { z-index: 100; }
.fixed-header #block-headerbar { z-index: 10; }

#page.fixed-header #block-top-a { 
	height: auto; 
	margin-top: 80px;
}

#page.fixed-header #block-main { margin-top: 0; }


/* Menus
----------------------------------------------------------------------------------------------------*/


/* Modules
----------------------------------------------------------------------------------------------------*/

/*#top-b .mod-box  h3.module-title { color:#fff; }
#top-b .mod-box p { color:#fff; }*/

.category-modulehomepage-blog li img { width:150px; height:auto;}


/* Tools
----------------------------------------------------------------------------------------------------*/

.featured-spotlight .overlay { filter: alpha(opacity=0); }
.featured-spotlight:hover .overlay { filter: alpha(opacity=85); }


/* System
----------------------------------------------------------------------------------------------------*/

/* Search Box */
.searchbox input { line-height: 75px; }


/* Style
----------------------------------------------------------------------------------------------------*/

form.style input[type='checkbox'] {border:0px;}