/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Style Style Sheet - Defines the main look like colors and backgrounds
 * Not all style related CSS is included, only colors and backgrounds which may change for different theme styles
 */


/* Base
----------------------------------------------------------------------------------------------------*/

/* Layout
----------------------------------------------------------------------------------------------------*/

body { background: #2a2f31; }

#block-toolbar { background: #2a2f31; }

#block-headerbar { 
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background: #0071a5 url(../images/headerbar.png) 50% 50% repeat;
	background: url(../images/headerbar.png) 50% 50% repeat,
				url(../images/square_img.png) 50% 0 repeat-x,
				#0071a5;
}

#block-top-a { 
	background: #0071a5 url(../images/square_img.png) 50% 0 repeat-x;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
}

#block-main { background: #edf0f2; }

#block-bottom { background: #34393c; }

#block-footer {
	border-top: 1px solid #272829;
	background: #2a2f31;
}


/* Menus
----------------------------------------------------------------------------------------------------*/

.menu-dropdown .dropdown-bg > div { background: #2a2f31; }

.menu-dropdown a.level1,
.menu-dropdown span.level1 { color: #becbd4; }

.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1 { 
	background: #005783;
	background: rgba(0,0,0,0.15);
	box-shadow: 1px 0 0 rgba(255,255,255,0.04),
				-1px 0 0 rgba(255,255,255,0.04),
				inset 0 0 5px rgba(0,0,0,0.08);
	color: #fff;
}

.menu-dropdown  li.parent.remain > .level1 > span,
.menu-dropdown  li.level1.parent:hover > .level1 > span { background: url(../images/menu_dropdown_level1_parent.png) 50% 100% no-repeat; }


/* Modules
----------------------------------------------------------------------------------------------------*/


/* Tools
----------------------------------------------------------------------------------------------------*/

#top-a .button-primary { box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3); }

#top-a .mod-plain .button-primary:hover,
#top-a .mod-plain .button-primary:active {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5),
				inset 0 0 1px rgba(0,0,0,0.5),
				0 1px 0 rgba(255,255,255,0.3);
}

#top-a .button-default,
#top-a form.style button,
#top-a form.style input[type='button'],
#top-a form.style input[type='submit'] { box-shadow: inset 0 -1px 0 rgba(0,90,130,0.9); }

#top-a .mod-plain .button-default:hover,
#top-a form.style button:hover,
#top-a form.style input[type='button']:hover,
#top-a form.style input[type='submit']:hover,
#top-a .mod-plain .button-default:active,
#top-a form.style button,
#top-a form.style input[type='button']:active,
#top-a form.style input[type='submit']:active {
	box-shadow: inset 0 0 0 1px rgba(0,90,130,0.9),
				inset 0 0 5px rgba(0,0,0,0.5),
				0 1px 0 rgba(255,255,255,0.3);
}


/* System
----------------------------------------------------------------------------------------------------*/

.searchbox input:-moz-placeholder { color: #becbd4; }
.searchbox input::-webkit-input-placeholder { color: #becbd4; }
.searchbox input.placeholder { color: #becbd4; }

.searchbox .results { background: #2a2f31; }

.searchbox .results:after { background-image: url(../images/menu_dropdown_level1_parent.png); }

.searchbox.loading button { background-image: url(../images/searchbox_loader.gif); }