/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* Base
----------------------------------------------------------------------------------------------------*/

a { color: #d50f38; text-decoration: underline; }
a:hover { color: #00418a; text-decoration: underline; }

/* Layout
----------------------------------------------------------------------------------------------------*/

#totop-scroller { background-image: url(../../images/color/blue/totop_scroller.png); }

/* Menus
----------------------------------------------------------------------------------------------------*/

/*.menu-dropdown a.level2,
.menu-dropdown span.level2 { background-image: url(../../images/color/blue/menu_dropdown_level2.png); }*/

/* Set Hover */
.menu-dropdown a.level2:hover,
.menu-dropdown a.level3:hover,
.menu-dropdown .module a:hover { color: #ffefa7; }

/* Sidebar/Accordion Menu */

/* Hover */
.menu-sidebar a:hover,
.menu-sidebar li > span:hover,
.menu-sidebar a.current:hover,
.menu-sidebar li.parent.active .level1:hover { color: #00b7f0; }

/* Level 1 */
.menu-sidebar li.parent .level1 > span { background-image: url(../../images/color/blue/menu_sidebar_item_level1.png); }

/* Level 2 */
.menu-sidebar a.level2 { background-image: url(../../images/color/blue/menu_sidebar_level2.png); }

/* Sidebar/accordion menu on colored modules */
.mod-box-color .menu-sidebar a.current,
.mod-box-color .menu-sidebar a:hover,
.mod-box-color .menu-sidebar li > span:hover,
.mod-box-color .menu-sidebar li.parent.active .level1:hover { color: #005e8b; }

.mod-box-color .menu-sidebar a.level2, 
.mod-box-dark .menu-sidebar a.level2 { background-image: url(../../images/color/blue/menu_sidebar_level2_color.png); }

.mod-box-dark .menu-sidebar a.current,
.mod-box-dark .menu-sidebar a:hover,
.mod-box-dark .menu-sidebar li > span:hover,
.mod-box-dark .menu-sidebar li.parent.active .level1:hover { color: #00b7f0; } 

/* Line Menu */
.menu-line li a:hover { color: #00b7f0; }


/* Modules
----------------------------------------------------------------------------------------------------*/

/* Color */
.mod-box-color { 
	background: #00b7f0;
	background: -moz-radial-gradient(center, ellipse cover, #00b7f0 0%, #0297c6 90%);
	background: -webkit-radial-gradient(center, ellipse cover, #00b7f0 0%, #0297c6 90%);
	background: -o-radial-gradient(center, ellipse cover, #00b7f0 0%, #0297c6 90%);
	background: radial-gradient(ellipse at center, #00b7f0 0%, #0297c6 90%);
}

.mod-box-color a { color: #c5f1ff; }
.mod-box-color a:hover { color: #005e8b; }

.mod-box-color em, 
.mod-box-color code { color: #005e8b; }


/* Tools
----------------------------------------------------------------------------------------------------*/

/* Primary Button */
.button-primary {
	background-color: #00b7f0;
	background-image: -o-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: -webkit-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: -moz-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: linear-gradient(rgba(2,151,198,0), #0297c6);
}

.button-primary:hover { background-color: #0088b5; }
.button-primary:active { background-color: #00b7f0; }

/* Buttons on module box color */
.mod-box-color .button-default,
.mod-box-color form.style button,
.mod-box-color form.style input[type='button'],
.mod-box-color form.style input[type='submit'] { 
	box-shadow: inset 0 -1px 0 rgba(0,113,165,0.8);
	color: #0088b5;
}

.mod-box-color .button-default:hover,
.mod-box-color form.style button:hover,
.mod-box-color form.style input[type='button']:hover,
.mod-box-color form.style input[type='submit']:hover { 
	background-color: #9fd7e9;
	box-shadow: inset 0 0 0 1px rgba(0,113,165,0.55),
				inset 0 0 5px rgba(0,113,165,1),
				0 1px 0 rgba(255,255,255,0.2);
	color: #0088b5;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.mod-box-color .button-default:active,
.mod-box-color form.style button:active,
.mod-box-color form.style input[type='button']:active,
.mod-box-color form.style input[type='submit']:active {
	background-color: #f1f1f1;
	box-shadow: inset 0 0 0 1px rgba(0,113,165,0.7),
				inset 0 0 8px rgba(0,113,165,1),
				0 1px 0 rgba(255,255,255,0.2);
	color: #0088b5;
}

/* Lists and Tables (Needed for System Markup) */
body .mod-box-color ul.zebra > li,
.mod-box-color ul.line > li,
.mod-box-color em.box,
.mod-box-color form.style input,
.mod-box-color form.style select,
.mod-box-color form.style textarea { border-color: #0088b5; }

.social-icons li a { background-image: url(../../images/color/blue/tools/icons_social.png); }


/* System
----------------------------------------------------------------------------------------------------*/


/* System All
----------------------------------------------------------------------------------------------------*/

#system .item > .links a {
	background-color: #00b7f0;
	background-image: -o-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: -webkit-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: -moz-linear-gradient(rgba(2,151,198,0), #0297c6);
	background-image: linear-gradient(rgba(2,151,198,0), #0297c6);
}

#system .item > .links a:hover { background-color: #0088b5; }
#system .item > .links a:active { background-color: #00b7f0; }

#system .gridalicious .item > .links a { color: #00b7f0; }

/*#system .pagination a.next,
#system .pagination a.previous,
#system .pagination a.first,
#system .pagination a.last { background-image: url(../../images/color/blue/pagination.png); }*/

#system .pagination a:hover { 
	color: #00b7f0;
	border-color: #00b7f0; 
}

.searchbox .results li.result.selected { color: #00b7f0; }

/* Spotlight */
.featured-spotlight .overlay {
	background-color: #00b7f0;
	background-color: rgba(0,180,240,0.7);
}