//
// Sprites
// --------------------------------------------------


// iconS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("@{iconSpritePath}");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-tabs > .active > a > i[class^="icon-"],
.nav-tabs > .active > a > i[class*=" icon-"],
.nav-pills > .active > a > i[class^="icon-"],
.nav-pills > .active > a > i[class*=" icon-"],
.nav-list > .active > a > i[class^="icon-"],
.nav-list > .active > a > i[class*=" icon-"],
.navbar-inverse .nav > .active > a > i[class^="icon-"],
.navbar-inverse .nav > .active > a > i[class*=" icon-"],
.dropdown-menu > li > a:hover > i[class^="icon-"],
.dropdown-menu > li > a:hover > i[class*=" icon-"],
.dropdown-menu > .active > a > i[class^="icon-"],
.dropdown-menu > .active > a > i[class*=" icon-"] {
  background-image: url("@{iconWhiteSpritePath}");
}

.icon {
	&-glass              { background-position: 0      0; }
	&-music              { background-position: -24px  0; }
	&-search             { background-position: -48px  0; }
	&-envelope           { background-position: -72px  0; }
	&-heart              { background-position: -96px  0; }
	&-star               { background-position: -120px 0; }
	&-star-empty         { background-position: -144px 0; }
	&-user               { background-position: -168px 0; }
	&-film               { background-position: -192px 0; }
	&-th-large           { background-position: -216px 0; }
	&-th                 { background-position: -240px 0; }
	&-th-list            { background-position: -264px 0; }
	&-ok                 { background-position: -288px 0; }
	&-remove             { background-position: -312px 0; }
	&-zoom-in            { background-position: -336px 0; }
	&-zoom-out           { background-position: -360px 0; }
	&-off                { background-position: -384px 0; }
	&-signal             { background-position: -408px 0; }
	&-cog                { background-position: -432px 0; }
	&-trash              { background-position: -456px 0; }

	&-home               { background-position: 0      -24px; }
	&-file               { background-position: -24px  -24px; }
	&-time               { background-position: -48px  -24px; }
	&-road               { background-position: -72px  -24px; }
	&-download-alt       { background-position: -96px  -24px; }
	&-download           { background-position: -120px -24px; }
	&-upload             { background-position: -144px -24px; }
	&-inbox              { background-position: -168px -24px; }
	&-play-circle        { background-position: -192px -24px; }
	&-repeat             { background-position: -216px -24px; }
	&-refresh            { background-position: -240px -24px; }
	&-list-alt           { background-position: -264px -24px; }
	&-lock               { background-position: -287px -24px; } // 1px off
	&-flag               { background-position: -312px -24px; }
	&-headphones         { background-position: -336px -24px; }
	&-volume-off         { background-position: -360px -24px; }
	&-volume-down        { background-position: -384px -24px; }
	&-volume-up          { background-position: -408px -24px; }
	&-qrcode             { background-position: -432px -24px; }
	&-barcode            { background-position: -456px -24px; }

	&-tag                { background-position: 0      -48px; }
	&-tags               { background-position: -25px  -48px; } // 1px off
	&-book               { background-position: -48px  -48px; }
	&-bookmark           { background-position: -72px  -48px; }
	&-print              { background-position: -96px  -48px; }
	&-camera             { background-position: -120px -48px; }
	&-font               { background-position: -144px -48px; }
	&-bold               { background-position: -167px -48px; } // 1px off
	&-italic             { background-position: -192px -48px; }
	&-text-height        { background-position: -216px -48px; }
	&-text-width         { background-position: -240px -48px; }
	&-align-left         { background-position: -264px -48px; }
	&-align-center       { background-position: -288px -48px; }
	&-align-right        { background-position: -312px -48px; }
	&-align-justify      { background-position: -336px -48px; }
	&-list               { background-position: -360px -48px; }
	&-indent-left        { background-position: -384px -48px; }
	&-indent-right       { background-position: -408px -48px; }
	&-facetime-video     { background-position: -432px -48px; }
	&-picture            { background-position: -456px -48px; }

	&-pencil             { background-position: 0      -72px; }
	&-map-marker         { background-position: -24px  -72px; }
	&-adjust             { background-position: -48px  -72px; }
	&-tint               { background-position: -72px  -72px; }
	&-edit               { background-position: -96px  -72px; }
	&-share              { background-position: -120px -72px; }
	&-check              { background-position: -144px -72px; }
	&-move               { background-position: -168px -72px; }
	&-step-backward      { background-position: -192px -72px; }
	&-fast-backward      { background-position: -216px -72px; }
	&-backward           { background-position: -240px -72px; }
	&-play               { background-position: -264px -72px; }
	&-pause              { background-position: -288px -72px; }
	&-stop               { background-position: -312px -72px; }
	&-forward            { background-position: -336px -72px; }
	&-fast-forward       { background-position: -360px -72px; }
	&-step-forward       { background-position: -384px -72px; }
	&-eject              { background-position: -408px -72px; }
	&-chevron-left       { background-position: -432px -72px; }
	&-chevron-right      { background-position: -456px -72px; }

	&-plus-sign          { background-position: 0      -96px; }
	&-minus-sign         { background-position: -24px  -96px; }
	&-remove-sign        { background-position: -48px  -96px; }
	&-ok-sign            { background-position: -72px  -96px; }
	&-question-sign      { background-position: -96px  -96px; }
	&-info-sign          { background-position: -120px -96px; }
	&-screenshot         { background-position: -144px -96px; }
	&-remove-circle      { background-position: -168px -96px; }
	&-ok-circle          { background-position: -192px -96px; }
	&-ban-circle         { background-position: -216px -96px; }
	&-arrow-left         { background-position: -240px -96px; }
	&-arrow-right        { background-position: -264px -96px; }
	&-arrow-up           { background-position: -289px -96px; } // 1px off
	&-arrow-down         { background-position: -312px -96px; }
	&-share-alt          { background-position: -336px -96px; }
	&-resize-full        { background-position: -360px -96px; }
	&-resize-small       { background-position: -384px -96px; }
	&-plus               { background-position: -408px -96px; }
	&-minus              { background-position: -433px -96px; }
	&-asterisk           { background-position: -456px -96px; }

	&-exclamation-sign   { background-position: 0      -120px; }
	&-gift               { background-position: -24px  -120px; }
	&-leaf               { background-position: -48px  -120px; }
	&-fire               { background-position: -72px  -120px; }
	&-eye-open           { background-position: -96px  -120px; }
	&-eye-close          { background-position: -120px -120px; }
	&-warning-sign       { background-position: -144px -120px; }
	&-plane              { background-position: -168px -120px; }
	&-calendar           { background-position: -192px -120px; }
	&-random             { background-position: -216px -120px; width: 16px; }
	&-comment            { background-position: -240px -120px; }
	&-magnet             { background-position: -264px -120px; }
	&-chevron-up         { background-position: -288px -120px; }
	&-chevron-down       { background-position: -313px -119px; } // 1px, 1px off
	&-retweet            { background-position: -336px -120px; }
	&-shopping-cart      { background-position: -360px -120px; }
	&-folder-close       { background-position: -384px -120px; }
	&-folder-open        { background-position: -408px -120px; width: 16px; }
	&-resize-vertical    { background-position: -432px -119px; } // 1px, 1px off
	&-resize-horizontal  { background-position: -456px -118px; } // 1px, 2px off

	&-hdd                     { background-position: 0      -144px; }
	&-bullhorn                { background-position: -24px  -144px; }
	&-bell                    { background-position: -48px  -144px; }
	&-certificate             { background-position: -72px  -144px; }
	&-thumbs-up               { background-position: -96px  -144px; }
	&-thumbs-down             { background-position: -120px -144px; }
	&-hand-right              { background-position: -144px -144px; }
	&-hand-left               { background-position: -168px -144px; }
	&-hand-up                 { background-position: -192px -144px; }
	&-hand-down               { background-position: -216px -144px; }
	&-circle-arrow-right      { background-position: -240px -144px; }
	&-circle-arrow-left       { background-position: -264px -144px; }
	&-circle-arrow-up         { background-position: -288px -144px; }
	&-circle-arrow-down       { background-position: -312px -144px; }
	&-globe                   { background-position: -336px -144px; }
	&-wrench                  { background-position: -360px -144px; }
	&-tasks                   { background-position: -384px -144px; }
	&-filter                  { background-position: -408px -144px; }
	&-briefcase               { background-position: -432px -144px; }
	&-fullscreen              { background-position: -456px -144px; }
}