/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

h1,
h2,
h3,
h4,
h5,
h6,
.menu-sidebar { font-family: Georgia, "Times New Roman", Times, serif; }

h2 { font-size: 18px; line-height: 26px; }
h3 { font-size: 18px; line-height: 26px; }

#system .gridalicious .title { 
	margin-top: 18px;
	font-size: 35px; 
	line-height: 37px;
}

