/* Valanx.org AEC Membership Management - invoice.css */

body {
background: #ddd;
}

div {
border: 0px dashed red;
}

pre {
font-size: 110%;
}

div#invoice_wrap {
width: 700px;
background:#fff;
border-color:#999999;
border-style:solid;
border-width:1px 1px 2px 2px;
margin:20px auto 5px;
overflow:hidden;
padding:20px;
}

div#before_invoice_header {
height: 60px;
}

div#invoice_paidstatus {
width: 90%;
border: 2px solid #000;
background: #ddd;
margin: 24px;
padding: 12px;
}

div#invoice_recurringstatus {
width: 90%;
border: 2px solid #000;
background: #ddd;
margin: 24px;
padding: 12px;
}

div#after_invoice_header {
height: 12px;
}

div#invoice_details {
width: 120px;
float: right;
margin-right: 20px;
}

table#invoice_details {
}

div#text_before_content {
width: 70%;
}

div#invoice_content {
width: 70%;
}

table#invoice_content {
margin: 40px auto;
}

table#invoice_content th {
border-bottom: 1px solid #000;
}

table#invoice_content tr#invoice_content_total {
border-top: 1px solid #000;
}

table#invoice_details th {
background: #555;
color: #fff;
text-align: center;
font-weight: bold;
}

table#invoice_details td {
text-align: center;
}

tr#invoice_content_item_separator {
margin-top: 12px;
}

tr#invoice_content_item_separator td {
border-bottom: 1px solid #000;
height: 32px;
}

tr#invoice_content_item_total td {
font-weight: bold;
}

div#address {
margin: 14px;
margin-left: 32px;
}

div#printbutton {
padding: 20px;
border: 1px dashed #d94;
width: 700px;
background:#ffb;
margin:20px auto 5px;
overflow:hidden;
padding:20px;
padding-bottom: 0;
}

div#printbutton_inner {
width: 350px;
background:#ffb;
margin: 0 auto;
}

div#printbutton p {
text-align: center;
margin-top: 14px;
}

div#printbutton button  {
margin: 34px;
position: absolute;
}
