#element-box,
#toolbar-box,
#submenu-box {
	padding: 0;
	font-size: 11px;
}

#element-box {
	div {
		&.t,
		&.b {
			height: 0;
			background: none;
			padding: 0;
		}
		&.m {
			border: none;
			padding: 0 !important;
		}
	}
}

#toolbar-box { display: none !important; }

#submenu-box, div.m {
	background: none !important;
}

#content-box {
	float: none;
	width: inherit;
	div.m { padding: 0; }
	.padding { padding: 0 !important; }
}

#system-message {
	display: none;
	margin: 0 0 -10px -25px;
}

table.adminlist {
	thead th {
		border-bottom: none;
		padding: 4px 10px;
		text-align: center;
		&:nth-child(1) { border-left: none; }
	}
	td {
		text-align: center;
		line-height: 200%;
	}
	.leftalign { text-align: left; }
}

table.table-striped tr:hover td { background: #ffd; }

.nav-msg {
	float: left;
	position: absolute;
	margin-top: 8px;
	margin-left: 0;
	padding: 6px;
	.border-radius( 4px );
	opacity: 0;
	.transition( opacity 0.5s ease-out, margin-left 0.5s ease-out );
}

.nav-msg-transition {
	opacity: 1;
	margin-left: 1%;
}

.subhead-collapse {
	display: none;
}

.container-main .navbar-fixed-top {
	margin-top: 38px;
}

.container {
	clear: none;
}
